body, html
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 95%;
    display: grid;
    background-image: linear-gradient(#CC63F8, #29A9FF);
    font-family: sans-serif;
}
main
{
    height: 80vh;
    width: 55vh;
    margin: auto;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4vh;
    text-align: center;
    position: relative;
    overflow-x: hidden;
}
.quizBox
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1.4fr .5fr .5fr .5fr .5fr;
}
.quizBox p
{
    margin: auto;
}
.quizBox .questionNumber
{
    font-size: 8vh;
    height: 3vh;
}
.quizBox .questionText
{
    font-size: 3.5vh;
}
.answer
{
    height: 90%;
    width: 80%;
    border: 1px solid black;
    margin: auto;
    position: relative;
    border-radius: 2137px;
    user-select: none;
    cursor: pointer;
    background-color: #FFF;
}
.answer:active
{
    background-color: #EEE;
}
.answLetter
{
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(0, -50%);
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 3vh;
    line-height: 4vh;
}
.answWrong
{
    background-color: #FC4242;
}
.answRight
{
    background-color: #4CEE67;
}
.answerText
{
    font-size: 2vh;
    line-height: 6.2vh;
}
.answSelected
{
    box-shadow: 0 2px 5px #333;
}
.actionButton
{
    display: block;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, 0);
    text-transform: uppercase;
    font-size: 1.7vh;
    font-weight: 600;
    width: 60%;
    background-color: #50B3FF;
    height: 8%;
    line-height: 380%;
    border-radius: 24340px;
    box-shadow: 0 2px 5px #999;
    user-select: none;
    cursor: pointer;
}
.actionButton:active
{
    background-color: #41A4EF;
}
.prevQuestion
{
    animation-duration: .3s;
    animation-name: hideQuestion;
    animation-fill-mode: forwards;
}
@keyframes hideQuestion
{
    from
    {
        left: 0;
    }
    to
    {
        left: -100%;
    }
}
.hidden
{
    display: none;
}